{
  "presets": [["env", { "modules": false }], "react"],
  "env": {
    "test": {
      "plugins": ["transform-class-properties", "transform-flow-strip-types", "transform-es2015-modules-commonjs"]
    }
  }
}
